body{
	background-color: #000;
	color: #d9d9d9;
}
.svg{
	filter: invert(100%) sepia(93%) saturate(27%) hue-rotate(39deg) brightness(107%) contrast(107%);
}
.reverse-svg{
	filter: invert(0%) sepia(8%) saturate(0%) hue-rotate(83deg) brightness(96%) contrast(106%);
}
header .Nav, header .NavC{
	background-color: rgb(50, 50, 50);
	color: rgb(255, 255, 255);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
header .Err-Barre, header .Err-BarreC{
	background-color: #c61515;
	color: rgb(255, 255, 255);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}	
.nav-retour {	
	background-color: #6c676c;
}
.retour {
	color: #fff;
}
.nav-lien {
	color: rgba(255, 255, 255, 1);
}
#menuToggle span {
	background: #ffffff;
}
#menuToggle input:checked ~ span {
	background: #fff;
}
#menu {
	box-shadow: 0 0 10px #2f2f2f;
	background-color: rgb(50, 50, 50);
}
footer {
	background-color: rgb(50, 50, 50);
}
.Back-settings{
	color: #505050;
}
.Title-settings {
	color: rgb(217, 217, 217);
	text-shadow: 2px 2px 4px #9f9f9f;	
}
.Title-settings-help {
	color: rgb(229, 229, 229);
	text-shadow: 2px 2px 4px #9f9f9f;
}
.Options{
	color: #d9d9d9;
}
.Settings-home {
	border-color: rgb(217, 217, 217);
}
.Settings-help{
	background-color: #005cff;
}
@media only screen and (max-width: 901px) {
	/*Moins de 900px*/
	.Settings .menu{
		box-shadow: rgba(50, 50, 93, 0.25) 30px 0px 20px -15px;
	}
}
@media only screen and (min-width: 901px) {
	/*Moins de 900px*/
	.Settings .menu{
		box-shadow: rgba(50, 50, 93, 0.25) 60px 00px 45px -45px;
	}
}
.Details-settings {
	color: rgb(217, 217, 217);
}
.Details-settings {
	color: rgb(217, 217, 217);
}

/* --- Index --- */

.Company {
	box-shadow: 0px 0px 60px 40px rgba(30, 30, 30, 0.78);
}
#Company{
	background-color: rgba(30, 30, 30, 0.7);
}
.NameCompany {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px #000000;
}
.DesCompany {
    text-shadow: 2px 2px 4px #000000;
}
.SelectCompany{
	box-shadow: rgba(255, 255, 255, 0.55) 0px 6px 12px -2px, rgba(255, 255, 255, 0.68) 0px 3px 7px -3px;
}
.Title {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px #000000;
}
.Title-details {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px #000000;
}
.Index-Title {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px #000000;
}
.New-company {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px #000000;
}
.Info-Header {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px #000000;
}
.Details {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px #000000;
}

/* --- Selecteur d'itinéraires --- */

.Search0 {
    background-color: rgba(30, 30, 30, 0.7);
}
.Search1 {
    background-color: rgba(0, 0, 0, 1 );
    box-shadow:  0 0 20px 0 rgba(83, 83, 83, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.sel-form {
    background-color: rgb(50, 50, 50);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
/*.Search2 {
    background-color: rgba(30, 30, 30, 0.9 );
}*/

.sub {
	color: #297CD3;
}

/* --- Form --- */

.toggle-control input:checked ~ .control {
    background-color: #144fb7;
}
.toggle-control .control {
  background-color: #323232;
}
.toggle-control .control:after {
  background: white;
}
.checkbok-container:hover input ~ .checkmark {
	background-color: #323232;
}
.checkbok-container input:checked ~ .checkmark {
	background-color: #144fb7;
}
.checkmark {
	background-color: #4d4d4d;
}

/* --- Editeur --- */
.over-back{
	background-color: #00000069;
}
.overmouse{
	background-color: #222;
}
.overmouse:hover{
	background-color: #333;
}
.over-box{
	background-color: #222;
	color: #fff;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.trafic .optn-btn{
	color: #000;
}
.trafic input{
	border: 2px solid #4f474e00;
	color: #fff;
}
.trafic .add-cat:hover, .trafic .add-cat:active, .trafic .add-cat:focus{
	background-color: #0000000a;
	border: 2px solid #4f474e61;
}
.trafic .add-cat{
	border: 2px solid #4f474e00;
}

.trafic input:hover, .trafic input:active, .trafic input:focus{
	background-color: #0000000a;
	border: 2px solid #4f474e61;
}
.trafic .del-img:hover, .trafic .del-img2:hover{
	box-shadow: 0 0 20px 0 #c61515, 0 5px 5px 0 rgba(0, 0, 0, 0.29);
}
.trafic .dep-img2:hover, .trafic .dep-img:hover{
	box-shadow: 0 0 20px 0 #4F474E, 0 5px 5px 0 rgba(0, 0, 0, 0.29);
}
.trafic .add-div:hover{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.trafic .del-img{
	background-color: #c61515;
	color: #fff;
}
.trafic .del-img2{
	background-color: #c61515;
	color: #fff;
}
.trafic .dep-img2 {
    background-color: #4f474e;
    color: #fff;
}
.trafic .dep-img {
    background-color: #4f474e;
    color: #fff;
}
.trafic .info-div{
	background-color: rgb(0, 0, 0);
}
.trafic .add-div{
	border: 2px solid #b1b1b1;
}
.InfoValue{
	background-color: #000;
	color: #d9d9d9;
}
.info-trafic-chtype{
	background-color: rgb(4, 4, 4);
}

.optn-page{
	background-color: #515151;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.optn-btn{
	background: #666;
	color: #ffffff;
	font-size: 14px;
}
.inf-gare{
	color: rgb(170, 170, 170);
}
.trains .stop{
	color: #fff;
}

.HideClass, .NamePage, .InfoClass{
	border: 2px solid #4f474e00;
	color: #fff;
}
.HideClass:hover, .HideClass:active, .HideClass:focus, .NamePage:hover, .NamePage:active, .NamePage:focus, .InfoClass:hover, .InfoClass:active, .InfoClass:focus{
	background-color: #0000000a;
	border: 2px solid #4f474e61;
}


.fluent_textarea{
	background: #121212;
	color: #fff;
}


/* --- */

.space{
	border-bottom: 2px solid #868686;
}
.settings-head{
	color: #297CD3;
	background-color: #f5f5f517;
	border: 2px solid #297CD3;
}
.settings-head div{
	background-color: #f5f5f588;
}
.warning{
	color: #E29E33;
	background-color: #231600;
	border: 2px solid #E29E33;
}
.index{
	border: 2px solid #868686;
}
.about{
	color: #297CD3;
	background-color: #001a30;
	border: 2px solid #297CD3;	
}
.valid{
	color: #29D33C;
	background-color: #00200e;
	border: 2px solid #29D33C;	
}
.selected{
	background-color: #001a30;
	border: 2px solid #297CD3;
}
.selected span{
	color: #297CD3;
	font-weight: bold;
}
.small_fluent_btn2 .selected span:hover{
	color: #297CD3;
	font-weight: bold;
}

.fluent_form input[type="text"], .fluent_form input[type="password"]{
	color: #fff;
	background: #131313;
}