body{
	background-color: rgb(255, 255, 255);
}
.svg{
	filter: invert(0%) sepia(8%) saturate(0%) hue-rotate(83deg) brightness(96%) contrast(106%);
}
.reverse-svg{
	filter: invert(100%) sepia(93%) saturate(27%) hue-rotate(39deg) brightness(107%) contrast(107%);
}
header .Nav, header .NavC{
	background-color: #4f474e;
	color: rgb(255, 255, 255);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
header .Err-Barre, header .Err-BarreC{
	background-color: #c61515;
	color: rgb(255, 255, 255);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}	
.nav-retour {
	background-color: #6c676c;
}
.retour {
	color: #fff;
}
.nav-lien {
	color: rgba(255, 255, 255, 1);
}
#menuToggle span {
	background: #ffffff;
}
#menuToggle input:checked ~ span {
	background: #fff;
}
#menu {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background-color: #4f474e;
}
footer {
	color :rgb(230, 230, 230);
	background-color: #4f474e;
}
.Back-settings{
	color: #505050;
}
.Title-settings {
	color: rgb(79, 71, 78);
	text-shadow: 2px 2px 4px #b3b3b3;	
}
.Title-settings-help {
	color: rgb(229, 229, 229);
	text-shadow: 2px 2px 4px #b3b3b3;
} 
.Settings-home {
	border-color: rgb(79, 71, 78);
}
.Settings-help{
	background-color: #005cff;
}
@media only screen and (max-width: 901px) {
	/*Moins de 900px*/
	.Settings .menu{
		box-shadow: rgba(50, 50, 93, 0.25) 30px 0px 20px -15px;
	}
}
@media only screen and (min-width: 901px) {
	/*Moins de 900px*/
	.Settings .menu{
		box-shadow: rgba(50, 50, 93, 0.25) 60px 00px 45px -45px;
	}
}
.Details-settings {
	color: rgb(79, 71, 78);
}
.Details-settings {
	color: rgb(79, 71, 78);
}

/* --- Index --- */

.Company {
	box-shadow: 0px 0px 60px 40px rgba(230, 230, 230, 0.78);
}
#Company{
	background-color: rgba(230, 230, 230, 0.7);
}
.NameCompany {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px #000000;
}
.DesCompany {
    text-shadow: 2px 2px 4px #000000;
	color: rgb(255, 255, 255);
}
.SelectCompany{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.Title {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px #000000;
}
.Title-details {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px #000000;
}
.Index-Title {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px #000000;
}
.New-company {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px #000000;
}
.Info-Header {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px #000000;
}
.Details {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px #000000;
}

/* --- Selecteur d'itinéraires --- */

.Search0 {
    background-color: rgba(230, 230, 230, 0.7);
}
.Search1 {
	background-color: rgba(255, 255, 255, 1 );
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
@media only screen and (min-width: 850px) {
	.Search2 {
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	}
}
@media only screen and (min-width: 850px) {
	.Search2 {
		background-color: rgba(255, 255, 255, 1 );
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	}
}
.sel-form {
    background-color: rgb(219, 219, 219);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.sub {
	color: #297CD3;
}

/* --- Form --- */

.form {
    background: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
	background: #f2f2f2;
}


.toggle-control input:checked ~ .control {
    background-color: #297CD3;
}
.toggle-control .control {
  background-color: darkgray;
}
.toggle-control .control:after {
  background: white;
}
.checkbok-container:hover input ~ .checkmark {
	background-color: #ccc;
}
.checkbok-container input:checked ~ .checkmark {
	background-color: #2196F3;
}
.checkmark {
	background-color: #eee;
}

/* --- Editeur --- */
.over-back{
	background-color: #00000069;
}
.overmouse{
	background-color: #fff0;
}
.overmouse2{
	background-color: #00000017;
}
.overmouse:hover{
	background-color: #00000017;
}
.overmouse2:hover{
	background-color: #00000023;
}
.over-box{
	background-color: #fff;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.trafic .optn-btn{
	color: #000;
}
.trafic input{
	border: 2px solid #4f474e00;
}
.trafic .add-cat:hover, .trafic .add-cat:active, .trafic .add-cat:focus{
	background-color: #0000000a;
	border: 2px solid #4f474e61;
}
.trafic .add-cat{
	border: 2px solid #4f474e00;
}

.trafic input:hover, .trafic input:active, .trafic input:focus{
	background-color: #0000000a;
	border: 2px solid #4f474e61;
}
.trafic .del-img:hover, .trafic .del-img2:hover{
	box-shadow: 0 0 20px 0 #c61515, 0 5px 5px 0 rgba(0, 0, 0, 0.29);
}
.trafic .dep-img2:hover, .trafic .dep-img:hover{
	box-shadow: 0 0 20px 0 #4F474E, 0 5px 5px 0 rgba(0, 0, 0, 0.29);
}
.trafic .add-div:hover{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.trafic .del-img{
	background-color: #c61515;
	color: #fff;
}
.trafic .del-img2{
	background-color: #c61515;
	color: #fff;
}
.trafic .dep-img2 {
    background-color: #4f474e;
    color: #fff;
}
.trafic .dep-img {
    background-color: #4f474e;
    color: #fff;
}
.trafic .info-div{
	background-color: rgba(255, 255, 255, 1);
}
.trafic .add-div{
	border: 2px solid #b1b1b1;
}
.InfoValue{
	background-color: rgb(255, 255, 255);
	color: #000;
}
.info-trafic-chtype{
	background-color: #f6f6f6;
}

.optn-page{
	background-color: #cecece;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.optn-btn{
	background: #9c9c9c;
	color: #ffffff;
	font-size: 14px;
}
.inf-gare{
	color: rgb(109, 109, 109);
}
.trains .stop{
	color: #000;
}
.Départ {
	box-shadow: 0px -60px 40px 20px rgba(229, 229, 229, 0.7);
}

.HideClass, .NamePage, .InfoClass{
	border: 2px solid #4f474e00;
}

.HideClass:hover, .HideClass:active, .HideClass:focus, .NamePage:hover, .NamePage:active, .NamePage:focus, .InfoClass:hover, .InfoClass:active, .InfoClass:focus{
	background-color: #0000000a;
	border: 2px solid #4f474e61;
}

/* --- */

.space{
	border-bottom: 2px solid #868686;
}
.settings-head{
	color: #297CD3;
	background-color: #f5f5f517;
	border: 2px solid #297CD3;
}
.settings-head div{
	background-color: #f5f5f588;
}
.warning{
	color: #E29E33;
	background-color: #f5f5f5;
	border: 2px solid #E29E33;
}
.about{
	color: #297CD3;
	background-color: #f5f5f5;
	border: 2px solid #297CD3;	
}
.index{
	border: 2px solid #868686;
}
.valid{
	color: #29D33C;
	background-color: #f5f5f5;
	border: 2px solid #29D33C;	
}
.selected{
	background-color: #f5f5f5;
	border: 2px solid #297CD3;
}
.selected span{
	color: #297CD3;
	font-weight: bold;
}
.small_fluent_btn2 .selected span:hover{
	color: #297CD3;
	font-weight: bold;
}

.fluent_form input[type="text"], .fluent_form input[type="password"]{
	color: #000;
	background: #f2f2f2;
}