<section id="explorer">
    <header>
        <div style="width: 100px;">
            <a href="<?php echo $HOST ?>">
                <img src="<?php echo $HOST ?>view/img/ftp.png">
            </a>
            <span>Drive</span>
        </div>

        <div class="search" onclick="searchfocus()" onblur="hide_search()">
            <div class="input">
                <img src="<?php echo $HOST ?>view/img/search_blue.png" />
                <input
                    id="searchtext"
                    type="text" 
                    placeholder = "Recherche"
                    value = ""
                    autocomplete="false"
                    onkeyup = "search(this)"
                    onchange = "search(this)"
                />
            </div>
                <br>
            <table class="result" id="result"></table>
        </div>
        
        <div style="width: 120px;">
            <img src="<?php echo $HOST ?>view/img/menu.png" class="menu" onclick="show_info()">
        </div>
    </header>

    <div id="uploadbck"    style="display: none;"></div>
    <div id="uploadperc"   style="display: none;"></div>
    <div id="uploadstatus" style="display: none;"><span id="uploadinfo"  style="float: left;"></span><span style="float: right;" id="timer"></span><span id="perc" style="float: right"></span></div>

    <div class="options" id="options" style="display: inline-block;">
        <div class="small_fluent_btn" onclick="get_file()" style="width: 39px">
            <img class="svg" src="<?php echo $HOST ?>view/img/reset.svg">
        </div>
        <div class="small_fluent_btn" onclick="btn_new_folder(this)" style="width: 39px;">
            <img class="svg" src="<?php echo $HOST ?>view/img/new-folder.png">
        </div>
        <div class="small_fluent_btn" onclick="BtnShowUploadBox()" style="width: 39px">
            <img class="svg" src="<?php echo $HOST ?>view/img/upload.png">
            <i id="loader3" class="loader-3" style="display: none"></i>
        </div>
        <span style="background-color: #777;border-radius: 5px;width: 2px;height: 30px;display: inline-block;"></span>
    </div>

    <span id="img" style="display: none">
        <div class="small_fluent_btn" onclick="viewImg()" style="width: 100px">
            <img class="svg" src="<?php echo $HOST ?>view/img/directory.png"><span style="opacity: 1;">Ouvrir</span>
        </div>
    </span>

    <span id="other" style="display: none">
        <div class="small_fluent_btn" onclick="view_other()" style="width: 135px">
            <img class="svg" src="<?php echo $HOST ?>view/img/download.png"><span style="opacity: 1;">Télécharger</span>
        </div>
    </span>

    <span id="file" style="display: none">
        <div class="small_fluent_btn" onclick="btn_remove_el()" style="width: 190px">
            <img src="<?php echo $HOST ?>view/img/delete-file.png"><span style="opacity: 1;">Supprimer le fichier</span>
        </div>
        <div class="small_fluent_btn" onclick="btn_rename_el()" style="width: 130px">
            <img class="svg" src="<?php echo $HOST ?>view/img/edit-file.png"><span style="opacity: 1;">Renommer</span>
        </div>
    </span>

    <span id="dir" style="display: none">
        <div class="small_fluent_btn" onclick="open_folder()" style="width: 100px">
            <img class="svg" src="<?php echo $HOST ?>view/img/directory.png"><span style="opacity: 1;">Ouvrir</span>
        </div>
        <div class="small_fluent_btn" onclick="btn_remove_el()" style="width: 190px">
            <img src="<?php echo $HOST ?>view/img/delete-folder.png"><span style="opacity: 1;">Supprimer le dossier</span>
        </div>
        <div class="small_fluent_btn" onclick="btn_rename_el()" style="width: 130px">
            <img class="svg" src="<?php echo $HOST ?>view/img/edit-file.png"><span style="opacity: 1;">Renommer</span>
        </div>
    </span>
    
        <br>

    <div class="small_fluent_btn" onclick="back_path(this)" style="width: 39px">
        <img class="svg" src="<?php echo $HOST ?>view/img/left.png">
    </div>
    <div class="small_fluent_btn path" id="path"></div>

    <hr style="border: 1px solid #820282;">   
    <i id="loader" class="loader-4"></i>
    <div id="loaderimg" class="loaderimg"></div>

    <div id="el" onclick="select(event)" ondrop="DropFile(event);" ondragover="onDragOverFile(event);" ondragleave="onDragLeaveFile()"></div>



    <div class="over-back" id="overrm" style="display: none;">
        <div class="over-box">
            <h1>Suppression</h1>
            Vous étes sur le point de supprimer l'élement <b id="rmname">***</b>
                <br><br>
            <img src="" id="rmsrc">            
            <div style="position: relative; top: -70px;left: 160px;">
                Poids approximatif : <b id="rmsize">***</b>
                    <br>
                Dernière modification : <b id="rmtime">***</b>
                <br>
            </div>
            <div style="position: absolute;width: 90%;bottom: 25px;">
                <div class="small_fluent_btn" onclick="btnhide_remove_el()" style="width: 120px;display: inline-block;">
                    <img class="svg" src="<?php echo $HOST ?>view/img/cancel.png" class="svg"><span style="opacity: 1;">Annuler</span>
                </div>
                <div style="background-color: #FF7676; border-radius: 10px;float: right;width: 135px;">
                    <div class="small_fluent_btn" onclick="remove_el(this)" style="width: 130px;">
                        <img src="<?php echo $HOST ?>view/img/trash.png" class="svg" id="rmbtn"><span style="opacity: 1;">Supprimer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="over-back" id="overupload" style="display: none;">
        <div class="over-box">
            <h1>Que voulez vous envoyez ?</h1>
        
            <div style="display: flex">

                <div class="large_btn" onclick="close_overlay('overupload'); show_overlay('overuploadDir');">
                    <img src="<?php echo $HOST ?>view/type/folder.png"> 
                        <br>
                    Dossier
                </div>
                <div class="large_btn" onclick="close_overlay('overupload'); show_overlay('overuploadFile');">
                    <img src="<?php echo $HOST ?>view/type/file.png"> 
                        <br>
                    Fichier
                </div>
            </div>
                
            <div style="position: absolute;width: 90%;bottom: 25px;">
                <div class="small_fluent_btn" onclick="close_overlay('overupload')" style="width: 120px;display: inline-block;">
                    <img class="svg" src="<?php echo $HOST ?>view/img/cancel.png" class="svg"><span style="opacity: 1;">Annuler</span>
                </div>
            </div>
        </div>
    </div>

    <div class="over-back" id="overuploadDir" style="display: none;">
        <div class="over-box">
            <h1>Envoi de dossier</h1>
        
            <span class="text">
                <input type="file" id="fileuploaddir" onchange="upload_input(this, 'dir')" multiple webkitdirectory>
            </span>

            <div id="uploadinfo"></div>

            <div style="position: initial; overflow-y: scroll;margin-top: 15px;max-height: 250px;overflow-x: hidden;">
                <div id="uploadListdir"> </div>
            </div>
                
            <div style="position: absolute;width: 90%;bottom: 25px;">
                <div class="small_fluent_btn" onclick="close_overlay('overuploadDir')" style="width: 120px;display: inline-block;">
                    <img class="svg" src="<?php echo $HOST ?>view/img/cancel.png" class="svg"><span style="opacity: 1;">Annuler</span>
                </div>
                <div style="background-color: #94FF76; border-radius: 10px;float: right;width: 135px;">
                    <div class="small_fluent_btn" onclick="upload_prepare('dir')" style="width: 130px;">
                        <img src="<?php echo $HOST ?>view/img/upload.png" class="svg"><span style="opacity: 1;">Envoyer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="over-back" id="overuploadFile" style="display: none;">
        <div class="over-box">
            <h1>Envoi de fichier</h1>
        
            <span class="text">
                <input type="file" id="fileuploadfile" onchange="upload_input(this, 'file')" multiple>
            </span>

            <div id="uploadinfo"></div>

            <div style="position: initial; overflow-y: scroll;margin-top: 15px;max-height: 250px;overflow-x: hidden;">
                <div id="uploadListfile"> </div>
            </div>
                
            <div style="position: absolute;width: 90%;bottom: 25px;">
                <div class="small_fluent_btn" onclick="close_overlay('overuploadFile')" style="width: 120px;display: inline-block;">
                    <img class="svg" src="<?php echo $HOST ?>view/img/cancel.png" class="svg"><span style="opacity: 1;">Annuler</span>
                </div>
                <div style="background-color: #94FF76; border-radius: 10px;float: right;width: 135px;">
                    <div class="small_fluent_btn" onclick="upload_prepare('file')" style="width: 130px;">
                        <img src="<?php echo $HOST ?>view/img/upload.png" class="svg"><span style="opacity: 1;">Envoyer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>