<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="<?php echo $HOST ?>view/main.css" type="text/css">
    <link rel="icon" href="<?php echo $HOST ?>/view/assets/favicon.ico" type="image/x-icon" >
    <title>Drive</title>
</head>

<body onkeydown="control(event)">

    <?php
        require_once('./view/explorer.html');
        require_once('./view/drawer.html');
        require_once('./view/viewer.html');
    ?>
    
</body>

<script>
    IP = "<?php echo $HOST; ?>";
</script>
<script>
    <?php autoloader_js(); ?>
</script>
</html>